header {
    display: flex;
    justify-content: space-between;
}

nav {
    margin-top: 15px;
}

nav > p {
    text-align: right;
}

header > h1 {
    color: #3D246D;
    font-family: Futura, sans-serif;
    width: 50%;
    display: inline;
}
button:hover {
    background-color: #3D246D;
    color: #ffffff;
    transition: 0.25s;
    border: 0;
}
@font-face {
    font-family: Futura;
    src: url("./public/fonts/futura/futur.ttf");
}
@font-face {
    font-family: "Futura Book";
    src: url("./public/fonts/futura/Futura Book font.ttf");
}
body {
    font-family: "Futura Book", sans-serif;
    background-color: #DCDCDC;
}
form {
    text-align: center;
}
button{
    padding: 1.25em 2.5em;
    border: 0;
    background-color: #C0C0C0;
    border-radius: 5px;
}
a {
    text-decoration: none;
    color: #3D246D;
}
a:hover {
    text-decoration: underline;
}
th {
    padding: 0 1em;
}
.form-label {
    margin-bottom: 5px;
    display: block;
}
textarea {
    font-family: "Futura Book", sans-serif;
    border: 0;
    border-bottom: 3px solid #3D246D;
    background-color: #DCDCDC;
    max-width: 625px;
    width: 625px;
}
input {
    border: 0;
    border-bottom: 3px solid #3D246D;
    background-color: #DCDCDC;
    width: 300px;
}
select {
    background-color: #DCDCDC;
    border: 0;
    border-bottom: 3px solid #3D246D;
    width: 313px;
}

#form {
    /* background: rgba(0,0,0, 0.8); */
    border-radius: 5px;
    padding: 0;
}

.donation-page-form-label {
    display: inline-block;
    margin-bottom: 0.5em;
    /* color: #7962A2; */
}

main {
    max-width: 1000px;
    margin: 0 auto;
}

.form-data {
    padding: 0.5em;
}

.form-data:focus {
    border: none;
    outline: none;
    border-bottom: 3px solid #3D246D;
}
.form-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 675px) {
    .form-inputs {
        grid-template-columns: 1fr;
    }
    #halfTwo {
      margin-top: 0.5em;
    }
    #form-end {
        overflow: hidden;
    }
}
#form-end {
    grid-column: span 2 / 2;
    margin-top: 1em;
}
#form-end > label.donation-page-form-label {
    margin-top: 1em;
}
/* td {
    padding: 0 1em;
} */
